<mat-list>
  <div mat-subheader>Eventos Registrados</div>
  <mat-list-item *ngFor="let event of events">
    <mat-icon mat-list-icon color="primary">event</mat-icon>
    <div mat-line (click)="detail(event)">{{event.organizer}} - {{event.event_name}}</div>
    <div mat-line>{{event.date | date: 'dd/MM/yyyy'}}</div>
    <mat-divider></mat-divider>
    <mat-chip-list aria-label="Fish selection">
      <mat-chip color="primary" selected>{{event.time}}</mat-chip>
    </mat-chip-list>
  </mat-list-item>
</mat-list>
