mat-sidenav-container{
  height: 100%;
  width: 100%;
  position: absolute;
}

mat-sidenav, mat-sidenav-content{
  padding: 16px;
}

mat-sidenav{
  background-color: rgba(150, 150, 150, 0.2);
  width: 250px;
}
